<div class="d-flex flex-row">
    <div><InputCheckbox @bind-Value="Item.IsComplete" @bind-Value:after="updateItem"></InputCheckbox></div>
    <div class="px-2 flex-grow-1 @(Item.IsComplete ? "complete" : "")">@Item.Name</div>
    @* <div><i class="bi bi-trash-fill text-danger"></i></div> *@
    <div><a @onclick="deleteItem">Delete</a></div>

</div>

@code {
    /// <summary>
    /// Tasker item to display
    /// </summary>
    [Parameter, EditorRequired]
    public TrackerItem? Item { get; set; }

    [Parameter]
    public EventCallback<TrackerItem> OnDeleteCallback { get; set; }

    [Parameter]
    public EventCallback<TrackerItem> OnCompleteCallback { get; set; }

    private async Task updateItem()
    {
        await OnCompleteCallback.InvokeAsync(Item);
    }

    private async Task deleteItem()
    {
        await OnDeleteCallback.InvokeAsync(Item);
    }
}
