<div class="d-flex flex-row">
    <div><InputCheckbox @bind-Value="Item.IsComplete"></InputCheckbox></div>
    <div class="px-2 flex-grow-1">@Item.Name</div>
    @* <div><i class="bi bi-trash-fill text-danger"></i></div> *@
    <div><button class="btn btn-primary">Delete</button></div>

</div>

@code {
    /// <summary>
    /// Tasker item to display
    /// </summary>
    [Parameter, EditorRequired]
    public TrackerItem? Item { get; set; }
}
