@page "/"

<PageTitle>Blazor Introduction - Home</PageTitle>

@* Set margin to 0 *@
<h1 class="m-0">Blazor Introduction</h1>

@* Lead text *@
<div class="lead mb-5 fs-4">Welcome to your new app.</div>
