@page "/"

<PageTitle>Blazor Introduction - Home</PageTitle>

@* Set margin to 0 *@
<h1 class="m-0">Blazor Introduction</h1>

@* Lead text *@
<div class="lead mb-5 fs-4">Welcome to your new app.</div>

<dl>
    <dt>Blazor Project Structure</dt>
    <dd>Modify the project structure</dd>
    <dt>Razor Syntax</dt>
    <dd>Add condtional logic to html markup</dd>
    <dt>Routing</dt>
    <dd>Add pages with routes</dd>
</dl>