@page "/tracker"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using System.Threading.Tasks
@inject IJSRuntime JS;

<div class="d-flex-align-items-center">
    <div class="tracker p-5">
        <div class="p-2 text-center mb">
            <img src="/img/icon-192.png" width="300" />
        </div>
        <div>
            <EditForm Model="ti" OnValidSubmit="addTask">
                <DataAnnotationsValidator/>
                <div class="d-flex flex-row gap-2">
                    <InputText @ref="textBoxTask" class="form-control" placeholder="Enter a task" @bind-Value="ti.Name"></InputText>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <div>
                    <ValidationMessage For="() => ti.Name"/>
                </div>
            </EditForm>
        </div>
        <hr/>
        <div class="vstack">
            @foreach(var lineItem in trackerItems)
            {
                @* <div>@lineItem.Name</div> *@
                <TrackerLine Item="lineItem" OnDeleteCallback="deleteTask" OnCompleteCallback="updateTask"></TrackerLine>
            }
        </div>
    </div>
</div>

@code {
    private TrackerItem ti = new();
    private List<TrackerItem> trackerItems = new();
    private InputText? textBoxTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadListAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await textBoxTask!.Element!.Value.FocusAsync();
        }
    }

    private async Task addTask()
    {
        ti.Id = Guid.NewGuid();
        trackerItems.Add(ti);
        ti = new TrackerItem();
        await SaveListAsync();
    }

    private async Task updateTask(TrackerItem item)
    {
        await SaveListAsync();
    }

    private async Task deleteTask(TrackerItem item)
    {
        trackerItems.Remove(item);
        await SaveListAsync();
    }

    private async Task SaveListAsync()
    {
        string? trackerItemsJson = JsonSerializer.Serialize(trackerItems);
        await JS.InvokeVoidAsync("localStorage.setItem", "TaskerList", trackerItemsJson);
    }

    private async Task LoadListAsync()
    {
        try
        {
            string? trackerItemsJson = await JS.InvokeAsync<string>("localStorage.getItem", "TaskerList") ?? "{}";
            trackerItems = JsonSerializer.Deserialize<List<TrackerItem>>(trackerItemsJson) ?? [];
        }
        catch(Exception _)
        {
            trackerItems = [];
            await SaveListAsync();
        }
    }
}
